!!!
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand {%= name %}
                .nav-collapse
                ul.nav
                    li.active
                        a(href="/") Home

    .container

        block content

        block footer
            footer.page-footer
                p &copy; Company 2012


    | !{cachify_js('/components/jquery/jquery.min.js')}
    | !{cachify_js('/components/bootstrap/docs/assets/js/bootstrap.min.js')}
    | !{cachify_js('/js/site.js')}
    block scripts